## Smolagents deps
marimo
smolagents
watchdog
smolagents[openai]
langchain_community
rank_bm25
matplotlib
geopandas
shapely
kaleido
plotly
pandas
numpy
pillow
nbformat
helium
selenium 

## LLama index
llama-index
llama-index-embeddings-azure-openai
llama-index-llms-azure-openai
llama_index.embeddings.huggingface
llama-index-vector-stores-chroma